@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border font-serif p-0 m-0;
  }

  body {
    @apply bg-background text-foreground overflow-auto;
  }
}

@media (min-width: 951px) {
  .xhd {
    display: flex;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-slideLeft {
  animation: slideLeft 25s linear infinite;
}

.animate-slideLeft:hover {
  animation-play-state: paused;
}

.animate-slideRight {
  animation: slideRight 25s linear infinite;
}

.animate-slideRight:hover {
  animation-play-state: paused;
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #cfc6c6;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

/* .gradient {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
} */

.gradient {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.image-transition {
  transition: opacity 0.5s ease-in-out;
  opacity: 0.8;
}

.image-transition.visible {
  opacity: 1;
}

.background {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.navigation {
  background: #ff0000;
  background: repeating-radial-gradient(circle farthest-corner at center center, #ff0000 10%, #ffff00 10%, #ffff00 10%, #00ff00 20%);
  background: -webkit-repeating-radial-gradient(circle farthest-corner at center center, #ff0000 10%, #ffff00 10%, #ffff00 10%, #00ff00 20%);
  background: -moz-repeating-radial-gradient(circle farthest-corner at center center, #ff0000 10%, #ffff00 10%, #ffff00 10%, #00ff00 20%);
}

.category {
  background: rgb(247, 250, 250);
  background: radial-gradient(circle, rgba(247, 250, 250, 1) 0%, rgba(229, 240, 240, 1) 62%, rgba(224, 237, 237, 1) 65%, rgba(236, 244, 244, 1) 65%, rgba(15, 215, 214, 1) 100%, rgba(7, 219, 217, 1) 100%);
}

.discount {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

.footer {
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: screen;
}

.footer a {
  @apply hover:text-orange-500 flex items-center gap-3 text-sm w-fit hover:pl-2 transition duration-150 ease-in;
}

@media (max-width: 380px) {
  .footer2 {
    @apply grid-cols-2 gap-5;
  }
}

li {
  list-style: none;
}

.hover-me {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

.background {
  background: rgb(247, 250, 250);
  background: radial-gradient(circle, rgba(247, 250, 250, 1) 0%, rgba(240, 229, 230, 1) 0%, rgba(224, 237, 237, 1) 0%, rgba(219, 7, 7, 1) 0%, rgba(140, 45, 11, 1) 100%, rgba(236, 244, 244, 1) 100%, rgba(15, 215, 214, 1) 100%);
}

.auth-layout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  width: 100%;
  /* overflow: hidden; */
  overflow: scroll;
  padding-top: 50px;
}

.auth-layout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/bg1.jpg');
  background-size: cover;
  background-position: top;
  opacity: 0.5;
  z-index: -1;
  /* Ensure the pseudo-element is behind the content */
}